body,
html {
    height: 100%;
    background: #191919;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.split-slideshow {
    height: 100%;
}

.slideshow {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slider {
    width: 100vw;
    height: 100vh;
    /* 修正高度以填滿整個視窗 */
    z-index: 2;
}

.item {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    border: none;
}

.item img {
    min-width: 101%;
    min-height: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 修正文字顯示問題 */
.slideshow-text {
    position: absolute;
    z-index: 100;
    width: 100vw;
    /* height: 100vh; 保證文字覆蓋整個畫面 */
    pointer-events: none;
}

.bar-text-left {
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.bar-text-right {
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: right;
}

@media (max-width: 767px) {

    .bar-text-left,
    .bar-text-right {
        font-size: 20px;
        letter-spacing: 5px;
    }
}