@use 'variables' as *;
@use 'function' as *;

/* 共用區 */
img {
    display: block;
    width: 100%;
}

.title {
    position: relative;
    @include bordered-l;
    padding-left: 1rem;
    margin: 85px 0 35px;

    &::before {
        content: '';
        position: absolute;
        left: 8.2rem;
        bottom: 1.6rem;
        background-color: map-get($color , dark);
        height: 8px;
        width: 8px;
        border-radius: 50%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 11.5rem; // 定位要相對於文字字級，可用rem
        bottom: 4px;
        background-color: map-get($color , dark);
        height: 3px;
        width: calc(100% - 11.5rem);
    }

    h3 {
        line-height: 1; // bs預設h3行高1.2，需重新設定

        span {
            font: {
                size: 1rem;

            }
        }
    }
}

// 同張圖片遮色片
.mask-new {
    mask-image: url(/images/mask.svg);
    mask-position: center;
    mask-repeat: no-repeat;
}

@media ($media-md) {
    .mask-new{
        mask-size: 90% 100%;
    }
}

@media ($media-lg) {
    .mask-new{
        mask-size: 92% 100%;
    }
}

// 不同圖片遮色片
.mask{
    mask-size: 100% 100%;
    mask-position: center;
    mask-repeat: no-repeat;
}

.blobs-1 {
    mask-image: url(../images/blobs-1.svg);
}
.blobs-2 {
    mask-image: url(../images/blobs-2.svg);
}
.blobs-3 {
    mask-image: url(../images/blobs-3.svg);
}

/* 最新商品區 */
#new {
    a {
        position: relative;
        color: map-get($color , light);

        &:hover {
            h2 {
                opacity: 1;
            }
        }

        h2 {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: map-get($color , alpha-b-60);
            opacity: 0;
            transition: .4s;
        }

    }
}